body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  /* text-align: center; */
  color: #293c4b;
  height: 100%;
  width: 100%;
  background-image: url("images/fsim_bg.jpg");
  background-color: #0f83db;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgba(255,255,255,0.6);
}

html {
  height: 100%;
}


h1 {
  font-size: 30px;
}
/* .leaflet-container  { */
.leaflet-container {
  background-color:rgba(255,255,255,0.2);
}

customleaflet-map {

  height: 800px;
  /* position: absolute; */
  /* right: -100px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 40%; */
  background-color:rgba(255,0,0,0.0);
  /* align-content: right; */
  /* width: 800px; */
}
.crosshairs:before, .crosshairs:after {
  content: '';
  position: absolute;
  width: 62px;
  height: 62px;
  z-index: 999;
  pointer-events: none;
}
.crosshairs:before {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 3px #f00 solid;
}
.crosshairs:after {
  right: 50%;
  top: 50%;
  transform: translate(0, -50%);
  border-right: 3px #f00 solid;
}
.grid-header {
  grid-area: header;
}
.grid-main {
  grid-area: main;
  padding: 10px;
  background-color:rgba(255,255,255,0.4);
}
.grid-middle {
  grid-area: middle;
  padding: 10px;
  background-color:rgba(255,255,255,0.4);
}
.grid-sidebar {
  grid-area: sidebar;
  padding: 10px;
  background-color:rgba(255,255,255,0.2);
}
.grid-footer {
  grid-area: footer;
  background-color:rgba(255,255,255,0.2);
}

.gridcontainer {
  display: grid;
  width: 100%;
  min-height: 100%;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "main middle sidebar"
    "footer footer footer";
  background-color:rgba(255,255,255,0.6);
}

.poiLink {
     cursor:pointer;
     color:black;
     text-decoration:underline;
}

ul {
  list-style: none;
}